{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cadastro de Curso</legend>
                <div class="form-group">
                    {{ form.aluno.label(class="form-control-label") }}
                    {% if form.aluno.errors %}
                        {{ form.aluno(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.aluno.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.aluno(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.curso.label(class="form-control-label") }}
                    {% if form.curso.errors %}
                        {{ form.curso(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.curso.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.curso(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.ano.label(class="form-control-label") }}
                    {% if form.ano.errors %}
                        {{ form.ano(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ano.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ano(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        {% for aluno in alunos %}
        <h3>{{ aluno.nome }}</h3>
        <h3>{{ aluno.status }}</h3>
        <br>
        {% endfor %}
    </div>
{% endblock %}
